@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272727;
}

p {
    color: white;
}

.gradient-text {
    background-image: linear-gradient(45deg, #3BF686, #4CA9FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-border {
    border: 2px solid transparent;
    background:
        linear-gradient(to right, #323443, #323443),
        linear-gradient(to right, #3BF686, #4CA9FF);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.gradient-border-circle {
    border: 2px solid transparent;
    border-radius: 50%;
    background:
        linear-gradient(to right, #323443, #323443),
        linear-gradient(to right, #3BF686, #4CA9FF);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}